<div class="card p-3" style="max-width: 425px;">
  <div class="ps-2">
    <p class="text-primary fs-3 mb-2 fw-bold">
      <span class="index" *ngIf="!indexTask">Tâche : {{ indexTask }}</span>
      <span class="index" *ngIf="indexTask">Tâche : {{ indexTask }}</span>
    </p>
    <p><span class="fw-bold">Nom: </span>{{ task.titre | uppercase }}</p>
    <p><span class="fw-bold">Description: </span>{{ task.description }}</p>
    <p><span class="fw-bold">Date de création: </span>{{ task.date | date: 'dd/MM/yyyy' }}</p>
    <p>
      <span class="fw-bold">Status :</span>
      <button class="ms-2 py-0" mat-flat-button color="primary" [etatColor]="task.etat"
        style="color:white;border: none;border-radius: 1rem;">
        {{ task.etat }}
      </button>

    </p>
  </div>
</div>
