.date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.time {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.date {
  font-size: 1.5rem;
  color: #666;
}
